<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans.xsd
	       http://www.springframework.org/schema/context
	       http://www.springframework.org/schema/context/spring-context.xsd
	       http://www.springframework.org/schema/aop
	       http://www.springframework.org/schema/aop/spring-aop.xsd
	       http://www.springframework.org/schema/task
	       http://www.springframework.org/schema/task/spring-task.xsd">
	<context:annotation-config />
	<aop:aspectj-autoproxy />
	<!-- 自动扫描(自动注入) -->
	<context:component-scan base-package="cn.jeesmart.demo.service.impl" />
	<bean class="cn.jeesmart.common.utils.config.ConfigUtils">
		<property name="fileEncoding" value="UTF-8" />
		<property name="locations">
			<list>
				<!--数据库参数配置 -->
				<value>classpath:jdbc.properties</value>
				<!--服务参数配置 -->
				<value>classpath:service.properties</value>
				<!--单点登录参数配置 -->
				<value>classpath:sso.properties</value>
				<!--redis参数配置 -->
				<value>classpath:redis.properties</value>
				<!--activeMq参数配置 -->
				<value>classpath:mq.properties</value>
				<!--单点登录系统公共参数配置 -->
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>

	<!-- 引入jdbc基础配置 -->
	<import resource="classpath:spring-jdbc.xml" />
	<!-- 引入mybatis基础配置 -->
	<import resource="classpath:spring-mybatis.xml" />
	<!-- 引入hibernate基础配置 -->
	<import resource="classpath:spring-hibernate.xml" />
	<!--redis : 用于部署多JVM实例时，RedisSession覆盖HttpSession实现Session共享-->
	<import resource="classpath:spring-redis-sso.xml" />
	<!--activeMQ : 用于权限有修改时，异步通知应用更新权限-->
	<import resource="classpath:spring-mq-sso.xml" />
	<!-- 引入Dubbo服务相关-->
	<import resource="dubbo-consumer.xml" />
</beans>